<!DOCTYPE html>
<html>
<head>
	<title>San Pham</title>
</head>
<body>
	<% mang.forEach(function(item){ %>
		<div>
		<img width="300px" height="200px" src="upload/<%=item.image%>" />
		<div style="color :#425E92"> <%=item.name%></div>
		</div>
	<% }); %>
</div>


</body>
</html>