<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Type</title>
</head>
<body>
	<a href="http://localhost:3000/cakes">Cakes</a><br>
	<a href="http://localhost:3000/cupcakes">CupCakes</a><br>
	<a href="http://localhost:3000/macarons">Macarons</a><br>
	<a href="http://localhost:3000/cookies">Cookies</a><br>
</body>
</html>